<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>{{ 'FOOTER.COMPANY_NAME' | translate }}</h3>
        <p>{{ 'FOOTER.TAGLINE' | translate }}</p>
      </div>
      <div class="footer-section">
        <h3>{{ 'FOOTER.QUICK_LINKS' | translate }}</h3>
        <ul>
          <li><a routerLink="/">{{ 'HEADER.HOME' | translate }}</a></li>
          <li><a routerLink="/shop">{{ 'HEADER.SHOP' | translate }}</a></li>
          <li><a routerLink="/cart">{{ 'HEADER.CART' | translate }}</a></li>
          <li><a routerLink="/login">{{ 'HEADER.LOGIN' | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>{{ 'FOOTER.CONTACT' | translate }}</h3>
        <p>{{ 'FOOTER.ADDRESS' | translate }}</p>
        <p>{{ 'FOOTER.CITY' | translate }}</p>
        <p>{{ 'FOOTER.EMAIL' | translate }}: info&#64;storebusiness.com</p>
        <p>{{ 'FOOTER.PHONE' | translate }}: (514) 555-0123</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    </div>
  </div>
</footer>
